.choose-us-container {
  background-image: url("https://res.cloudinary.com/dozr5pfwt/image/upload/v1739826580/shape-21_cls5yd.png");
  background-size: cover;
  width: 98.9vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-us-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto auto;
  /* gap: 80px; */
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.choose-us-row {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.choose-us-image {
  width: 200px;
  height: auto;
}

.choose-us-center {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.choose-us-center-image {
  width: 400px;
  height: auto;
}
.choose-us-image-wrapper {
  position: relative;
  display: inline-block;
}

.choose-us-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%; 
  height: auto;
}
/*  */
.under:hover {
  color: #3a9e1e;
  cursor: pointer;
}

.choose-us-caption {
    font-family: "'Poppins', sans-serif";
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #333;
    line-height: 1.5;
  }
