*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.categoryPage{
    width:100%;
    height: 100vh;
    
    
    
}

.categorySection{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.img1{
    width: 30rem;
    height:30rem;
}
.p1{
    background-color: #14A44D;
}

.section1{
    margin-top: 5%;
    gap: 3%;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    position: relative;
    right: 10%;
    left: 10%;
}


.catElement{
    padding: 2%;
    border-radius: 2% ;
    width:80%;
    height: 100%;
    justify-items: center;
    cursor: pointer;
}
.catElement:hover .overlay {
    opacity: 1;
    }
    
.categoryImg{
    
    width: 100%;
    height: 75%;
    
}
.title-1{
    font-size: 2rem;
    font-weight: 500;
}
.description-1{
    font-size: 1.5rem;
}

.pre-category{
    width: 100%;

}
.header-category{
    margin-top: 3%;
    justify-items: center;
    background-color: gray;
}
.btn {
    width: 50%;

}
.page{
    height: 40%;
}

.img{
    width: 20%;
    height: 20%;
}
.req1{
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    margin-top: 5%;
    border: #14A44D  solid 2px;
     height: 70%;
}

.p2{
    font-size: 1.5rem;
}
.form1{
    font-size: 2rem;
    background-color: #14A44D;
    display: grid;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
   
}
.l1{
    
    border: solid red 2px;
    width: 100%;
    height: 100%;
}
input{
    background-color: aliceblue;
}
.btn1{
    color:#14A44D;
    background-color: aliceblue;
}



