.footerr{
    font-size: 20px;
    /* color:black; */
    font-family: "Poppins", sans-serif;
    background-image: url("https://res.cloudinary.com/dozr5pfwt/image/upload/v1739852438/lry7ksdnztimligkk90c.png");
    background-size: cover;
    background-color: #3A9E1E;
    /* opacity: 0.5; */
}